.food-line {
    padding: 20px;
  }
  
  .food-cards {
    display: flex;
    flex-wrap: nowrap; 
    gap: 20px; 
  }
  
  .food-card {
    background-color: #ffb0f4; 
    border-radius: 8px; 
    padding: 35px;
    text-align: center;
    width: 250px; 
  }
  
  .food-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .food-price {
    font-size: 16px;
  }

  .food-image {
    width: 200px;
    height: 200px; 
    border-radius: 8px; 
    margin-bottom: 10px;
  }
  